<!DOCTYPE html>
<% locals.pageStyles.push('/styles/header.css') %>
  <% locals.pageStyles.push('/styles/cart.css') %>
    <%- include('./partials/head.ejs') %>

      <body>
        <%- include('./partials/header.ejs') %>
          <div class="container_div">
            <h2 class="your_cart_h2">Your Cart</h2>
            <div class="items_and_checkout_div">
              <div class="items_div">
                <% if(locals.cartItems.length===0){ %>
                  <p>Cart is empty</p>
                  <% } else { locals.cartItems.forEach(item=> { %>
                    <div class="cart_item_div">
                      <span class="item_name_span">
                        <%= item.name %>
                      </span>
                      <span class="item_quantity_span">Quantity: <%= item.quantity %></span>
                      <span class="item_price_span">
                        <%= item.price %> €
                      </span>
                      <span>Total: <%= item.productTotal %> €</span>
                      <a class="delete_item_link" href="#">
                        <img class="delete_image" src="images/delete icon.png" alt="">
                        <span>Izbriši</span>
                      </a>
                    </div>
                    <% }) %>
                      <% } %>
              </div>
              <div class="summary_div">
                <h3>Order Summary</h3>
                <div>
                  <span>total</span>
                  <span>$100</span>
                </div>
                <button>Proceed to Checkout</button>
              </div>
            </div>
          </div>
          <%- include('./partials/footer.ejs') %>
      </body>